body {
  font-family: arial;
  background-color: #f4f4f4;
  padding: 1.25rem;
  color: #333;
  background-image: url(./img/Blue\ Minimalist\ Linktree\ Background.png);
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 37.5rem;
  margin: 0 auto 18.75rem;
  background-color: #f4f4f4;
  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0.625rem;
}

p {
  margin: 0.625rem 0;
}

input {
  box-sizing: border-box;
}