body {
  font-family: arial;
  background-color: #f4f4f4;
  padding: 1.25rem;
  color: #333;
  background-image: url(./img/Blue\ Minimalist\ Linktree\ Background.png);
  background-position: center;
  background-size: cover;
}

.app{
  max-width: 37.5rem;
  margin: 0 auto 18.75rem;
  background-color: #f4f4f4;
  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0.625rem;
}

p {
  margin: 0.625rem 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #fad4ac;
  color: #464646;
  padding: 0.312rem 0.625rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.9;
  
}

.complete {
  background-color: rgb(8, 234, 87);
}

.remove {
  background-color: rgb(255, 0, 93);
}

button:hover {
  opacity: 1;
}

.todo-form{
  padding-bottom: 1.5rem;
}

input,select {
  padding: 0.312rem;
  margin-bottom: 0.625rem;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}